h1
{
    text-align: center;
}
h2
{
    margin-left: 500px;
}
ul
{
    margin-left: 480px;
}
table,tr,td
{
    margin-left: 580px;
}
td:hover
{
color: blue;
text-decoration: underline;
}
.One
{
    font-size: 50px;
    margin-left: 440px;
    transform: translateY(-2em);
}
.One::first-letter
{
    color: rgba(255,0,0,0.70)
}
input
{
    margin-left: 610px;
    width: 660px;
    height: 35px;
    border-radius: 5px;
    border-color: black;
}
#Two
{
    height: 35px;
    border-radius: 5px;
    border-color: black;
}