h1
{
    text-align: center;
    font-weight: normal;
}
.apple
{
    transform: translateY(-75px);
    margin-left: 800px;
}
header
{
    background: rgb(254,255,255); 
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); 
    background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); 
}
.backgrounde_image
{
    width: 1890px;
}
div[class~="model"]
{
    margin-top: 100px;
    margin-left: 100px;
}
p[class|="text"]
{
    font-size: 40px;
}
.services_iphone
{
    font-size: 40px;
}
.services
{
    margin-left: 1400px;
    transform: translateY(-840px);
}
li:hover
{
    color: red;
    transition: 0.3s;
}


